@import 'spacings';
@import 'colours';

.primary {
  color: $blue-500;
}

.error {
  color: $red-500;
}

.textPrimary {
  color: $gray-200;
}
.textSecondary {
  color: $gray-100;
}

.bold {
  font-weight: bold;
}

.underlineNone {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.underlineHover {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.underlineAlways {
  text-decoration: underline;
}

.button {
  position: 'relative';
  -webkit-tap-highlight-color: 'transparent';
  background-color: 'transparent';
  outline: 0;
  border: 0;
  margin: 0;
  border-radius: 0;
  padding: 0;
  cursor: 'pointer';
  user-select: 'none';
  vertical-align: 'middle';
  -moz-appearance: 'none';
  -webkit-appearance: 'none';
  text-decoration: 'none';
  &::-moz-focus-inner {
    border-style: 'none';
  }
  &:focusVisible {
    outline: 'auto';
  }

  &:hover {
    filter: brightness(150%);
  }
}

.withArrow::after {
  content: "  →"
}

