@import 'spacings';
@import 'colours';

$icon-spacing: units(0.5);
$buttons-spacing: units(2);

.pagination {
  display: flex;
  align-items: center;
  padding: units(0.5) 0;
  justify-content: center;

  .select {
    margin-right: units(0.5);
    padding: units(0.5);
    border: solid 1px $black-50;
  }

  .prevBtn,
  .nextBtn {
    display: flex;
    align-items: center;
    font-weight: 500;
    color: $blue;
  }

  .nextBtn {
    margin-left: $buttons-spacing;

    .icon {
      margin-left: $icon-spacing;
    }
  }

  .prevBtn {
    margin-right: $buttons-spacing;

    .icon {
      margin-right: $icon-spacing;
    }
  }

  .disabled {
    color: $black-50;
  }
}
