@import 'spacings';

.noticeView {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: max-content;
  grid-gap: units(1.5);
}

.fullWidth {
  grid-column: 1 / -1;
}

.actions {
  grid-column: 1 / -1;
  grid-template-areas: "l status r";
  grid-template-columns: 3fr 6fr 3fr;
  display: grid;
  width: 100%;
}

.noticeStatus {
  width: 100%;
  text-align: center;
  grid-area: status;
  align-self: center;
  h2 {
    display: inline;
    margin-right: units(1);
  }
}

.actionsRight {
  text-align: right;
  grid-area: r;
}
